<div class='row'>    
    <div class='col-sm-2'>
      <app-nav-bar></app-nav-bar>
    </div>

    <div class='col-sm-10 body-content'>
        <h1> Oertlichkeiten </h1>
        <p-table #dt [columns]="cols" [value]="place">
            <ng-template pTemplate="caption">
                <div style="text-allign: right"></div>
            </ng-template>
            <ng-template pTemplate="header" let columns>
            <tr>
                <th *ngFor="let col of cols" [style.width]="col.width">
                    {{col.header}}
                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"></p-sortIcon>
                </th>
            </tr>
            <tr>
                <th *ngFor="let col of cols">
                    <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" class="primeFilterComponent">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr>
                <td>
                    {{rowData.id}}
                </td>
                <td>
                    {{rowData.bezeichnung}}
                </td>
                <td>
                    {{rowData.long}}
                </td>
                <td>
                    {{rowData.lat}}
                </td>
                <td>
                    {{rowData.strasse}}
                </td>
                <td>
                    {{rowData.hausnr}}
                </td>
                <td>
                    {{rowData.plz}}
                </td>
                <td>
                    {{rowData.ort}}
                </td>
                <td>
                    {{rowData.kategorie}}
                </td>
            </tr>
        </ng-template>
    </div>
</div>
