<div>
    <div class="p-grid">
        <div class="p-col-2">
            <div class="w3-sidebar w3-light-grey w3-bar-block">
                <table class="table table-hover">
                    <button class="w3-bar-item w3-button" (click)="loadOertlichkeiten()"> 
                        Gesamtübersicht
                    </button>
                    <button class="w3-bar-item w3-button" (click)="loadCategory()"> 
                        Kategorien
                    </button>
                    <button class="w3-bar-item w3-button" (click)="loadSchools()">
                        Bildung
                    </button>
                    <button class="w3-bar-item w3-button" (click)="loadHealth()"> 
                        Gesundheit
                    </button>
                    <button class="w3-bar-item w3-button" (click)="loadPolitics()">
                        Politik
                    </button>
                    <button class="w3-bar-item w3-button" (click)="loadParking()">
                        Parkplätze
                    </button>
                    <button class="w3-bar-item w3-button" (click)="loadDefect()">
                        Mängel
                    </button>
                </table>
            </div>
        </div>

        <div id="image" >
            <img class='image' src="./assets/Logo2.png" alt="Datenverwaltung">
        </div>

        <div visible="displayAll" class='p-col-10'>
            <p-toolbar *ngIf="this.displayAll">
                <p-button label="Speichern" (onClick)="saveOrt(dt)" *ngIf="this.displayAll"></p-button>
                <p-button label="Download" (onClick)="downloadOertlichkeiten($event)" *ngIf="this.displayAll"></p-button>
            </p-toolbar>
            <p-table #dt [columns]="cols" [value]="oertlichkeiten">
                <ng-template pTemplate="caption" *ngIf="this.displayAll">
                    <div style="text-align: right">        
                     <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                     <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let colsOer>
                    <tr>
                        <th *ngFor="let col of colsOer" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>
                            {{item.oertlichkeitenId}}
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="item.bezeichnung">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{item.bezeichnung}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            {{item.longitude}}
                        </td>
                        <td>
                            {{item.latitude}}
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="item.strasse">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{item.strasse}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="item.hausnummer">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{item.hausnummer}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="item.postleitzahl">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{item.postleitzahl}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="item.ort">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{item.ort}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="item.kategorienId">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{item.kategorienId}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                    </tr>
                </ng-template>
            </p-table>  
        </div>

        <div visible="displayCategory" class='p-col-10' style="margin-left: 200px">
            <p-toolbar *ngIf="this.displayCategory">
                <p-button label="Speichern" (onClick)="saveCategory(dt)" styleClass="dialog-button" *ngIf="this.displayCategory"></p-button>
                <p-button label="Download" (onClick)="downloadCategory($event)" styleClass="dialog-button" *ngIf="this.displayCategory"></p-button>
            </p-toolbar>    
            <p-table #dt [columns]="cols" [value]="kategorien">
                <ng-template pTemplate="header" let columns>
                    <tr>
                        <th *ngFor="let col of colsCat">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>
                            {{item.kategorienId}}
                        </td>
                        <td>
                            {{item.bezeichnung}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>  
        </div> 

        <div visible="displaySchool" class='p-col-10' style="margin-left: 200px">
            <p-toolbar *ngIf="displaySchool">
                <p-button label="Speichern" (onClick)="saveSchool(dt)" styleClass="dialog-button" *ngIf="this.displaySchool"></p-button>
                <p-button label="Download" (onClick)="downloadSchool($event)" styleClass="dialog-button" *ngIf="this.displaySchool"></p-button>
            </p-toolbar>    
            <p-table #dt [columns]="cols" [value]="schulen">
                <ng-template pTemplate="header" let columns>
                    <tr>
                        <th *ngFor="let col of colsSch">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>
                            {{item.schulenId}}
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="item.typ">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{item.typ}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="item.beschreibung">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{item.beschreibung}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            {{item.oertlichkeitenId}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>  
        </div> 

        <div visible="displayHealth" class='p-col-10' style="margin-left: 200px">
            <p-toolbar *ngIf="displayHealth">
                <p-button label="Speichern" (onClick)="saveGesundheit(dt)" styleClass="dialog-button" *ngIf="this.displayHealth"></p-button>
                <p-button label="Download" (onClick)="downloadHealth($event)" styleClass="dialog-button" *ngIf="this.displayHealth"></p-button>
            </p-toolbar>
            <p-table #dt [columns]="cols" [value]="gesundheit">
                <ng-template pTemplate="header" let columns>
                    <tr>
                        <th *ngFor="let col of colsHel">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>
                            {{item.gesundheitId}}
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="item.typ">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{item.typ}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="item.beschreibung">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{item.beschreibung}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            {{item.oertlichkeitenId}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>  
        </div> 

        <div visible="displayPolitic" class='p-col-10' style="margin-left: 200px">
            <p-toolbar *ngIf="displayPolitic">
                <p-button label="Speichern" (onClick)="savePolitic(dt)" styleClass="dialog-button" *ngIf="this.displayPolitic"></p-button>
                <p-button label="Download" (onClick)="downloadPolitics($event)" styleClass="dialog-button" *ngIf="this.displayPolitic"></p-button>
            </p-toolbar>
        <div class="ui-table-wrapper">
            <p-table #dt [columns]="cols" [value]="politik">
                <ng-template pTemplate="header" let columns>
                    <tr>
                        <th *ngFor="let col of colsPol">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>
                            {{item.politikId}}
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="item.typ">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{item.typ}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="item.beschreibung">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{item.beschreibung}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            {{item.oertlichkeitenId}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>  
            </div>
        </div> 

        <div visible="displayParking" class='p-col-10' style="margin-left: 200px">
            <p-toolbar *ngIf="displayParking">
                <p-button label="Speichern" (onClick)="savePark(dt)" styleClass="dialog-button" *ngIf="this.displayParking"></p-button>
                <p-button label="Download" (onClick)="downloadParking($event)" styleClass="dialog-button" *ngIf="this.displayParking"></p-button>
            </p-toolbar>    
            <p-table #dt [columns]="cols" [value]="parken">
                <ng-template pTemplate="header" let columns>
                    <tr>
                        <th *ngFor="let col of colsPar">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>
                            {{item.parkplaetzeId}}
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="item.oeffnungszeiten">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{item.oeffnungszeiten}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="item.kosten">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{item.kosten}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="item.beschreibung">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{item.beschreibung}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            {{item.oertlichkeitenId}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>  
        </div>     

        <div visible="displayDefect" class='p-col-10' style="margin-left: 200px">
            <p-toolbar *ngIf="displayDefect">
                <p-button label="Speichern" (onClick)="saveMangel(dt)" styleClass="dialog-button" *ngIf="this.displayDefect"></p-button>
            </p-toolbar>        
            <p-table #dt [columns]="cols" [value]="maengel">
                <ng-template pTemplate="header" let columns>
                    <tr>
                        <th *ngFor="let col of colsDef">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>
                            {{item.maengelID}}
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="item.beschreibung">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{item.beschreibung}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            {{item.latitude}}
                        </td>
                        <td>
                            {{item.longitude}}
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="item.status">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{item.status}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                    </tr>
                </ng-template>
            </p-table>  
        </div>                               
    </div>
</div>
