.style{
    margin-left: 200px;
  }

  .view {
    min-height: 100vh;
  }

  .image{
    margin-left: 200px;
    margin-right: 200px;
    float:right;
    width:500px;
    height:500px
  }
  
.w3-sidebar{
    height:100%;
    width:15%;
    background-color:#fff;
    position:fixed!important;
    z-index:1;
    overflow:auto
  }
  
  .dialog-button{
    margin-left: 4em;
  }
  
  .w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
  
  .w3-bar-block .w3-dropdown-hover,.w3-bar-block .w3-dropdown-click{width:100%}
  .w3-bar-block .w3-dropdown-hover .w3-dropdown-content,.w3-bar-block .w3-dropdown-click .w3-dropdown-content{min-width:100%}
  .w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}
  
  .w3-bar-block .w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
  .w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}
  
  .w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
  
  .w3-bar-block .w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
  .w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}
  
  .w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}

  button:focus, button:active:focus, button.active:focus {
    outline: unset !important;
    outline-style: unset !important;
    outline-color: #4d90fe !important;
    background-color: #D3D3D3 !important;
    color: #4d90fe !important;
    }
  
  