/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap/dist/css/bootstrap.min.css";

div.card-header {
 font-size: large;
}

div.card {
  margin-top: 10px
}

.table {
  margin-top: 10px
}

.ui-table .ui-table-tbody > tr > td.ui-editing-cell {
  padding: 0.571em 0.857em;
}

body .ui-table .ui-sortable-column.ui-state-highlight {
  background-color: #ffe399;
}
