/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap/dist/css/bootstrap.min.css";


.pac-container {
  z-index: 1052 !important;
}

div.card-header {
 font-size: large;
}

body .ui-button.ui-state-default.ui-button-info, body .ui-buttonset.ui-button-info > .ui-button.ui-state-default {
  margin: 1em;
}

div.card {
  margin-top: 10px
}

.table {
  margin-top: 10px
}

.ui-table .ui-table-tbody > tr > td.ui-editing-cell {
  padding: 0.571em 0.857em;
}

body .ui-table .ui-sortable-column.ui-state-highlight {
  background-color: #ffe399;
}

body .ui-button{
  margin-right: 15px;
  margin-bottom: 10px;
}
