<div class="p-grid">
    <div class="p-col-2">
      <div class="w3-sidebar w3-light-grey w3-bar-block">
      <table class="table table-hover">
          <button class="w3-bar-item w3-button" (click)="loadAll()"> 
            Gesamtübersicht
          </button>
          <button class="w3-bar-item w3-button" (click)="loadSchools()"> 
            Schulen
          </button>
          <button class="w3-bar-item w3-button" (click)="loadHealth()"> 
            Gesundheit
          </button>
          <button class="w3-bar-item w3-button" (click)="loadPolitics()">
            Politik
          </button>
          <button class="w3-bar-item w3-button" (click)="loadParking()">
            Parkplätze
          </button>
          <button class="w3-bar-item w3-button" (click)="loadDefect()"> 
            Mängel
          </button>
        </table>
        <p-button label="Mangel melden" (onClick)="openMaengelMelder($event)" styleClass="ui-button-info"></p-button>
        <p-button label="Route anzeigen" (onClick)="getDirection($event)" styleClass="ui-button-info"></p-button>

      </div>
    </div>
    
    <div class="p-col-10 p-align-center" style="margin-left: 220px">
      <div class="form-group">
        <input type="text" class="form-control" (keydown.enter)="showMarker($event)" placeholder="Adresssuche" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
      </div>
<div class="form-group">
      <agm-map [latitude]='latitude' [longitude]='longitude' [zoom]="14"
        [mapTypeId]='mapType' (mapClick)="placeMarker($event.coords.lat, $event.coords.lng)">
        <agm-marker
          *ngFor="let marker of markers"
          [latitude]="marker.lat"
          [longitude]="marker.lng"
          (markerClick)="selectMarker(marker.katId, marker.id)">
        </agm-marker>
        <agm-data-layer 
          [geoJson]="geoJsonObject" (layerClick)="clicked($event)" [style]="styleFunc">Testeintrag 
        </agm-data-layer> 
        <agm-direction 
          *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination">
        </agm-direction>
        <agm-kml-layer [url]="''"> </agm-kml-layer>
      </agm-map>
      </div>
      <p-panel>
        <p *ngFor="let marker of infos">
          Adresse/Status: {{marker.strasse}} {{marker.hausnummer}} {{marker.plz}} {{marker.ort}} {{marker.status}}
          <br/>
          Infos: {{marker.typ}}  {{marker.beschreibung}} {{marker.oeffnungszeiten}} {{marker.kosten}}
          <br/>

          Lat: {{ marker.lat }} Lng: {{ marker.lng }}<br/>
        </p>
      </p-panel>  
      
    </div>
</div>

<p-dialog [(visible)]="display" [modal]="true" [style]="{width: '800px', height: '2000px'}" >
  <p-header>
      Marker hinzufügen
  </p-header>
    <p> Koordinaten der gewählten Position sind: </p>
    <p *ngIf="currLng, currLat"> Längengrad: {{currLng}} Breitengrad: {{currLat}}</p>  
    <p> Koordinaten auf aktuellen Standort setzen </p>
    <p-button label="aktueller Standort" (onClick)="setLocation($event)" styleClass="ui-button-info"></p-button><hr/>
    Kategorie 
    <p-dropdown id="float-input" appendTo="body" [options]="kategorien" [(ngModel)]="selectedKat" optionLabel="bezeichnung" 
      (onChange)="changeCategory($event)" placeholder="Wähle eine Kategorie"> 
    </p-dropdown><hr/>
    <p>Bezeichnung (Name)</p>
      <input type="text" [(ngModel)]="bezeichnung" pInputText class="form-control input" />
    <p>Straße</p>
      <input type="text" [(ngModel)]="strasse" value="{{strasse}}" pInputText class="form-control input" />
    <p>Hausnummer</p>
      <input type="text" [(ngModel)]="hausnr" value="{{hausnr}}" pInputText class="form-control input" />
    <p>Postleitzahl</p>
      <input type="text" [(ngModel)]="plz" value="{{plz}}" pInputText class="form-control input" />
    <p>Ort</p>
      <input type="text" [(ngModel)]="ort" value="{{ort}}" pInputText class="form-control input" /><hr/> 
    <p>Beschreibung</p>
      <textarea name="beschreibung" [(ngModel)]="beschreibung" mdInput rows="3" class="form-control input" ></textarea>
    <p>Typ</p>
      <input type="text" [(ngModel)]="typ" pInputText class="form-control input" [disabled]="disabledOther ? true : false" />
    <p>Öffnungszeiten</p>
      <input type="text" [(ngModel)]="zeiten" pInputText class="form-control input" [disabled]="disabledParkplaetze ? true : false" />
    <p>Kosten</p>
      <input type="text" [(ngModel)]="kosten" pInputText class="form-control input" [disabled]="disabledParkplaetze ? true : false" /><hr/>
  <p-footer>
      <p-button label="Speichern" (onClick)="save($event)" styleClass="ui-button-info"></p-button>
  </p-footer>  
</p-dialog>

<p-dialog [(visible)]="displayMangel" [modal]="true" [style]="{width: '800px', height: '2000px'}">
    <p-header>
      Mangel melden
    </p-header>
    <p> Koordinaten der gewählten Position sind: </p>
    <p *ngIf="currLng, currLat"> Längengrad: {{currLng}} Breitengrad: {{currLat}}</p>  
    <p> Koordinaten auf aktuellen Standort setzen </p>
    <p-button label="aktueller Standort" (onClick)="setLocation($event)" styleClass="ui-button-info"></p-button><hr/>
      
    <p> Beschreibung des Mangels </p>
      <textarea name="beschreibung" [(ngModel)]="mBeschreibung" mdInput rows="3" class="form-control input" ></textarea><hr/>

   <!--<p> Lade ein erkennbares Foto hoch </p>
      <p-fileUpload name="myfile[]" url="./upload.php" multiple="false"
        accept="image/*" [auto]="true" (onSelect)="onSelectImage($event.files)">
      </p-fileUpload>  <hr/>!-->
    <p-footer>
        <p-button label="Speichern" (onClick)="saveMangel($event)" styleClass="dialog-button"></p-button>
    </p-footer>
</p-dialog>
