<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://www.stickpng.com/assets/images/585e4bf3cb11b227491c339a.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form (submit)="logout($event)"><br>
      <p>Möchten Sie sich wirklich ausloggen?</p>
        <input type="submit" class="fadeIn fourth" value="Log Out">
  
      </form>
  
      
  
    </div>
  </div>